* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
  }

  .flowerBgd {
    background-image: url(./flowerBgd.jpeg);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  }

  .header {
    display: flex;
    width: 90%;
    background-color:rgba(243, 243, 243, 0.8);
    margin: 0 auto;
    margin-top: 15px;
    padding: 0px 25px 0px 25px;
    justify-content: space-between;
    box-shadow: 0 10px 20px 0px rgba(0, 255, 255, 0.555);
    border-radius: 15px;
    position: fixed;
    top: 0;
    right: 50px;
  }


  .logoSide {
    display: flex;
    flex-basis: 20%;
    margin-top: 35px;
  }

  .logoImg {
      height: 25px;
  }

  .upper {
      margin-left: 20px;
      font-size: 22px;
      font-weight: bold;
  }

  .navBar {
    display: flex;
   
  }

  .navLink-Wrapper {
      margin-left: 20px;
      padding: 40px;
  }

 .navLink-Wrapper:hover{
     transition: 1s;
    background-color: aqua;
 } 

  .navLink-Wrapper a {
    color: black;
    font-size: 18px;
  }

  .main {
      margin-top: 200px;
      display: flex;
      justify-content: center;
      height: 400px;
      margin-bottom: 100px;
  }

  .box {
      width: 50%;
      background-color:rgba(243, 243, 243, 0.8);
      margin: 0 50px 0 50px;
      padding: 40px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 10px 20px 0px rgba(0, 255, 255, 0.555);
      border-radius: 15px;
     
  }

  .leaf {
      width: 35px;
      margin-bottom: 30px;
  }

  .bic {
    width: 50px;
    margin-bottom: 30px;
  }

  .aero {
    width: 50px;
    margin-bottom: 30px;
  }

  .hello,
  .welcome,
  .stay {
    margin-bottom: 30px;
  }

  .para1,
  .para2,
  .para3 {
    font-size: 20px;
    line-height: 40px;
  }

  .footer {
    margin-top: 100px;
  }

  .social{
    width: 25%;
    margin-left: 39%;
  }



  .footer .social .media1 {
    width: 15px;
    background-color:  rgba(243, 243, 243, 0.4);
    padding: 10px 17px 10px 17px;
    margin-right: 20px;
}

.footer .social .media1:hover {
  transition: 0.7s;
  background-color: aqua;
  width: 30px;
  
}


.footer .social .media2 {
  width: 30px;
  background-color:  rgba(243, 243, 243, 0.4);
  padding: 10px;
  margin-right: 20px;
}

.footer .social .media2:hover {
  transition: 0.7s;
  background-color: aqua;
  width: 60px;
  
}

.footer .social .media3 {
  width: 30px;
  background-color:  rgba(243, 243, 243, 0.4);
  padding: 10px;
  margin-right: 20px;
}

.footer .social .media3:hover {
  transition: 0.7s;
  background-color: aqua;
  width: 60px; 
}


.footer .social .media4 {
  width: 30px;
  background-color:  rgba(243, 243, 243, 0.4);
  padding: 10px;
  margin-right: 20px;
}

.footer .social .media4:hover {
  transition: 0.7s;
  background-color: aqua;
  width: 60px;
  
}

.footer .social .media5 {
  width: 17px;
  background-color:  rgba(243, 243, 243, 0.4);
  padding: 10px 17px 10px 17px;
  margin-right: 20px;
}

.footer .social .media5:hover {
  transition: 0.7s;
  background-color: aqua;
  width: 34px;
  
}




  
 

  